# setup.py autogenerates this file
# it is not reccomended to modify this file manually
# "mod-wsgi-express module-config" outputs correct information for this file

LoadModule wsgi_module ${locationOfPythonDistribution}
WSGIPythonHome ${topLevelDirectoryOfPythonDistribution}
